$base-color: #262523;
$primary-color: #f1eee8;
$yellow-color: #f7cc00;

.container {
  background-color: $base-color;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.locationFinder {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  height: 100vh;
}
